<?php
class Core_Config {
	public static function getConfigValue($path) {
		$config = array();
		
		$config["debug/enable"] = true;
		$config["debug/fileName"] = "/home/corentinlebail.me/www/logs/debug.log";
		
		$config["pdo/dns"] = "mysql:host=localhost;dbname=corentinlebail.me";
		$config["pdo/user"] = "root";
		$config["pdo/password"] = "root";
		
		$config["cache/enable"] = false;
		$config["cache/host"] = "127.0.0.1";
		$config["cache/port"] = 11211;
		$config["cache/expire"] = 60*60;
		
		$config["customer/salt"] = "test_";
		
		$config["captcha/siteKey"] = "6Ld8xC8UAAAAAFNKYSwQgqvFpd9miPv1xlBofs5P";
		$config["captcha/secretKey"] = "6Ld8xC8UAAAAACAMumZPiHE-NdFBwO4e76IAmmTt";
		$config["captcha/endpoint"] = "https://www.google.com/recaptcha/api/siteverify";
		
		$config["avatars/relativepath"] = "/images/avatars/";
		$config["avatars/path"] = "/home/corentinlebail.me/www".$config["avatars/relativepath"];
		
		if(isset($config[$path])) {
			return $config[$path];
		}
		
		return null;
	}
}